server:
  port: 8081

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:7000
          jwk-set-uri: http://localhost:7000/oauth2/jwks
          clock-skew: 30 # Reduced to 30 seconds